@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- ========== Left Sidebar Start ========== -->

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/logo-dark.png" alt="" height="20">
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="index.html">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end">01</span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- OPERATOR MENU -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>OPERATOR MENU</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript:void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="PRINT WH" style="font-size: 11px;" href="@Url.Action("PrintWH", "EngineeringPortal_MasterList")">
                                        PRINT WH
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH PROGRAM NUMBER" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_ToolProgramNumber")">
                                        SEARCH PROGRAM NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH TOOL ID" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_ToolAssy")">
                                        SEARCH TOOL ID
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="TOOL COUNTER" style="font-size: 11px;" href="/EngineeringPortal_MonitoringToolLife/">
                                        TOOL COUNTER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST DRAWING" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_MasterList")">
                                        MASTERLIST DRAWING
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- PN DATABASE -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>PN DATABASE</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="PRINT WH" style="font-size: 11px;" href="@Url.Action("PrintWH", "EngineeringPortal_MasterList")">
                                        PRINT WH
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH PART NUMBER" style="font-size: 11px;" href="@Url.Action("PartNumber", "EngineeringPortal_PartNumber")">
                                        SEARCH PART NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="REGISTER PART NUMBER" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_PartNumber")">
                                        REGISTER PART NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST DRAWING" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_MasterList")">
                                        MASTERLIST DRAWING
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST PROCESS PLAN" style="font-size: 11px;" href="@Url.Action("MasterListProcessPlan", "EngineeringPortal_MasterList")">
                                        MASTERLIST PROCESS PLAN
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST PFMEA" style="font-size: 11px;" href="@Url.Action("MasterListPFMEA", "EngineeringPortal_MasterList")">
                                        MASTERLIST PFMEA
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST PFMEA" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_PFMEAPIO")">
                                        MASTERLIST PIO PFMEA
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST PFD" style="font-size: 11px;" href="@Url.Action("MasterListPFD", "EngineeringPortal_MasterList")">
                                        MASTERLIST PFD
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST CONTROL PLAN" style="font-size: 11px;" href="@Url.Action("ControlPlan", "EngineeringPortal_MasterList")">
                                        MASTERLIST CONTROL PLAN
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="CORET STAMP REG" style="font-size: 11px;" href="@Url.Action("PIOSTAMP", "EngineeringPortal_PFMEAPIO")">
                                        CORET STAMP REG
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- NPI DATABASE -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>NPI DATABASE</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="NPI MAIN DASHBOARD" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_MainDashboard")">
                                        NPI MAIN DASHBOARD
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI MAIN DASHBOARD PIO" style="font-size: 11px;" href="@Url.Action("MasterPioTimeline", "EngineeringPortal_MainDashboard")">
                                        NPI MAIN DASHBOARD PIO
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI SUMMARY REPORT" style="font-size: 11px;" href="@Url.Action("SummaryAdmin", "EngineeringPortal_MainDashboard")">
                                        NPI SUMMARY REPORT
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI GATE PROGRESS" style="font-size: 11px;" href="@Url.Action("NpiGateProgress", "EngineeringPortal_NpiManagementDashboard")">
                                        NPI GATE PROGRESS
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI SUMMARY TIMELINE" style="font-size: 11px;" href="@Url.Action("NpiSummaryTimeline", "EngineeringPortal_NpiManagementDashboard")">
                                        NPI SUMMARY TIMELINE
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI PART PROGRESS" style="font-size: 11px;" href="@Url.Action("NpiProgressPart", "EngineeringPortal_NpiManagementDashboard")">
                                        NPI PART PROGRESS
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="NPI BUSINESS CASE" style="font-size: 11px;" href="@Url.Action("EngineeringPortal_NpiBusinessCaseCustomer", "EngineeringPortal_NpiManagementDashboard")">
                                        NPI BUSINESS CASE
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="PROJECT MASTERLIST" style="font-size: 11px;" href="@Url.Action("MasterListProject", "EngineeringPortal_MasterList")">
                                        PROJECT MASTERLIST
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="REGISTER PART NUMBER" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_PartNumber")">
                                        REGISTER PART NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="Register Work Center" style="font-size: 11px;" href="@Url.Action("Index", "WorkCenter")">
                                        Register Work Center
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="Register Standar Cost" style="font-size: 11px;" href="@Url.Action("StandarCost", "WorkCenter")">
                                        Register Standar Cost
                                        (Rate/Hour)
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH PART NUMBER" style="font-size: 11px;" href="@Url.Action("PartNumber", "EngineeringPortal_PartNumber")">
                                        SEARCH PART NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST CUSTOMER" style="font-size: 11px;" href="@Url.Action("MasterListCustomer", "EngineeringPortal_MasterList")">
                                        MASTERLIST CUSTOMER
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- TOOL DATABASE -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>TOOL DATABASE</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="TOOLPEDIA HOME" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_ToolPedia")">
                                        TOOLPEDIA HOME
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH PROGRAM NUMBER" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_ToolProgramNumber")">
                                        SEARCH PROGRAM NUMBER
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="SEARCH TOOL ID" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_ToolAssy")">
                                        SEARCH TOOL ID
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="ROP CONSOLE" style="font-size: 11px;" href="@Url.Action("Filtering", "EngineeringPortal_Tool")">
                                        ROP CONSOLE
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="TOOL INVENTORY" style="font-size: 11px;" href="@Url.Action("ToolInvetory", "EngineeringPortal_Tool")">
                                        TOOL INVENTORY
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="TOOL ADMIN" style="font-size: 11px;" href="@Url.Action("Index", "EngineeringPortal_Tool")">
                                        TOOL ADMIN
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MASTERLIST TOOL COUNTER" style="font-size: 11px;" href="@Url.Action("ManagementToolCounter", "EngineeringPortal_MonitoringToolLife")">
                                        MASTERLIST TOOL COUNTER
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- CONCESSION & PRODUCTION PERMIT -->
                <li class="menu-title">Concession & Production Permit</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>CONCESSION & PRODUCTION PERMIT</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="MeQA" href="/WIP/MasterDatabaseCnP" target="_blank">
                                        Master Data
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MeQA" href="/WIP/Index" target="_blank">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="MeQA" href="/WIP/CreateWolverhamtonForm" target="_blank">
                                        Init CnP Form
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <!-- MeQa Portal -->
                <li class="menu-title">MEQA</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>MeQa Portal</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="MeQA" href="http://GIDBND02:8001/GUEST.aspx?token=gKyMbb5mDkwk08FOvXREUk5tMBhNFoOSINsZT99HeOLNMWWitMBhHHVJektg/bhL740iz8" target="_blank">
                                        MeQA
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- Drawing Change -->
                <li class="menu-title">Drawing Change</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>Drawing Change</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="Drawing Control Change" href="/EngineeringPortal_Monitoring">
                                        Drawing Control Change
                                    </a>
                                </li>
                                <li>
                                    <a class="collapse-item" data-permission="Masterlist Drawing Change" href="@Url.Action("CekDrawingChange", "EngineeringPortal_DrawingChange")">
                                        Masterlist Drawing Change
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- PPCR/CCR -->
                <li class="menu-title">PPCR/CCR</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>PPCR/CCR</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a class="collapse-item" data-permission="MasterList CCR" href="@Url.Action("Index", "EngineeringPortal_Meqa")">MasterList CCR</a></li>
                                <li>  <a class="collapse-item" data-permission="MasterList CCR" href="@Url.Action("Index", "EngineeringPortal_PPCRDashboard")">E-PPCR 2 PROMDI</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- Management App -->
                <li class="menu-title">SETTING</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>Management App</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a class="collapse-item" data-permission="Management Role" href="#">Role Management</a></li>
                                <li><a class="collapse-item" data-permission="User Management" href="#">User Management</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- CMS -->
                <li class="menu-title">CMS</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>CMS</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="Blog" href="#" target="_blank">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- Help -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-window-section"></i>
                        <span>Help</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a class="collapse-item" data-permission="Blog" href="/Cms/HelpVideo" target="_blank">
                                        PROMDI HELP VIDEO
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title">Apps</li>

                <li>
                    <a href="calendar.html" class="waves-effect">
                        <i class="uil-calender"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href="chat.html" class=" waves-effect">
                        <i class="uil-comments-alt"></i>
                        <span class="badge rounded-pill bg-warning float-end">New</span>
                        <span>Chat</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-store"></i>
                        <span>Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products.html">Products</a></li>
                        <li><a href="ecommerce-product-detail.html">Product Detail</a></li>
                        <li><a href="ecommerce-orders.html">Orders</a></li>
                        <li><a href="ecommerce-customers.html">Customers</a></li>
                        <li><a href="ecommerce-cart.html">Cart</a></li>
                        <li><a href="ecommerce-checkout.html">Checkout</a></li>
                        <li><a href="ecommerce-shops.html">Shops</a></li>
                        <li><a href="ecommerce-add-product.html">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-envelope"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html">Inbox</a></li>
                        <li><a href="email-read.html">Read Email</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-invoice"></i>
                        <span>Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="invoices-list.html">Invoice List</a></li>
                        <li><a href="invoices-detail.html">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-book-alt"></i>
                        <span>Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="contacts-grid.html">User Grid</a></li>
                        <li><a href="contacts-list.html">User List</a></li>
                        <li><a href="contacts-profile.html">Profile</a></li>
                    </ul>
                </li>

                <li class="menu-title">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-circle"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login.html">Login</a></li>
                        <li><a href="auth-register.html">Register</a></li>
                        <li><a href="auth-recoverpw.html">Recover Password</a></li>
                        <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-file-alt"></i>
                        <span>Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter.html">Starter Page</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                        <li><a href="pages-timeline.html">Timeline</a></li>
                        <li><a href="pages-faqs.html">FAQs</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-flask"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts.html">Alerts</a></li>
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-cards.html">Cards</a></li>
                        <li><a href="ui-carousel.html">Carousel</a></li>
                        <li><a href="ui-dropdowns.html">Dropdowns</a></li>
                        <li><a href="ui-grid.html">Grid</a></li>
                        <li><a href="ui-images.html">Images</a></li>
                        <li><a href="ui-lightbox.html">Lightbox</a></li>
                        <li><a href="ui-modals.html">Modals</a></li>
                        <li><a href="ui-offcanvas.html">Offcanvas</a></li>
                        <li><a href="ui-rangeslider.html">Range Slider</a></li>
                        <li><a href="ui-session-timeout.html">Session Timeout</a></li>
                        <li><a href="ui-progressbars.html">Progress Bars</a></li>
                        <li><a href="ui-placeholders.html">Placeholders</a></li>
                        <li><a href="ui-sweet-alert.html">Sweet-Alert</a></li>
                        <li><a href="ui-tabs-accordions.html">Tabs & Accordions</a></li>
                        <li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-toasts.html">Toasts</a></li>
                        <li><a href="ui-video.html">Video</a></li>
                        <li><a href="ui-general.html">General</a></li>
                        <li><a href="ui-colors.html">Colors</a></li>
                        <li><a href="ui-rating.html">Rating</a></li>
                        <li><a href="ui-notifications.html">Notifications</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="uil-shutter-alt"></i>
                        <span class="badge rounded-pill bg-info float-end">9</span>
                        <span>Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="form-elements.html">Basic Elements</a></li>
                        <li><a href="form-validation.html">Validation</a></li>
                        <li><a href="form-advanced.html">Advanced Plugins</a></li>
                        <li><a href="form-editors.html">Editors</a></li>
                        <li><a href="form-uploads.html">File Upload</a></li>
                        <li><a href="form-xeditable.html">Xeditable</a></li>
                        <li><a href="form-repeater.html">Repeater</a></li>
                        <li><a href="form-wizard.html">Wizard</a></li>
                        <li><a href="form-mask.html">Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-list-ul"></i>
                        <span>Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic.html">Bootstrap Basic</a></li>
                        <li><a href="tables-datatable.html">Datatables</a></li>
                        <li><a href="tables-responsive.html">Responsive</a></li>
                        <li><a href="tables-editable.html">Editable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-chart"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-apex.html">Apex</a></li>
                        <li><a href="charts-chartjs.html">Chartjs</a></li>
                        <li><a href="charts-flot.html">Flot</a></li>
                        <li><a href="charts-knob.html">Jquery Knob</a></li>
                        <li><a href="charts-sparkline.html">Sparkline</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-streering"></i>
                        <span>Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-unicons.html">Unicons</a></li>
                        <li><a href="icons-boxicons.html">Boxicons</a></li>
                        <li><a href="icons-materialdesign.html">Material Design</a></li>
                        <li><a href="icons-dripicons.html">Dripicons</a></li>
                        <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-location-point"></i>
                        <span>Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google.html">Google</a></li>
                        <li><a href="maps-vector.html">Vector</a></li>
                        <li><a href="maps-leaflet.html">Leaflet</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-share-alt"></i>
                        <span>Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);">Level 2.1</a></li>
                                <li><a href="javascript: void(0);">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
<!-- Left Sidebar End -->